<div class="row" style="height:80vh">
    <div class="col-sm-3" style="height:79.9vh">
        <div class="aside">
            <br><br>
            <p style="text-align:center"><b>Helping to connect alumni and faculty with the business community and job opportunities!</b></p>
            <center>
                <img src="~/images/website.png" class="img-fluid">
            </center>
            <h4 style="text-align:center">Sheridan | FAST</h4>

            <hr class="d-sm-none">
            <br><br><br><br>
        </div>
    </div>
    <div class="col-sm-9" style="margin-left:0px;">
        <br>
        <h2>About Us</h2>

        <p>The <b>FAST Alumni social media portal</b> will help to locate the student quickly and efficiently and increase the chances that an available job opportunity is filled by Sheridan alumni.  Using a built-in student database and social media, this application will assist faculty in recognizing a student's employment status and skills; and be able to connect with them through non-Sheridan email or social media (Facebook, Twitter or by LinkedIn) to inform them of job opportunities that comes across a professor.</p>


    </div>
</div>

