@using FAST_Alumni_Portal.Utils;

<div class="row">
    <div class="col-sm-3">
        <div class="aside">
            <br><br>
            <p style="text-align:center"><b>Helping to connect alumni and faculty with the business community and job opportunities!</b></p>
            <center>
                <img src="~/images/website.png" class="img-fluid">
            </center>
            <h4 style="text-align:center">Sheridan | FAST</h4>

            <hr class="d-sm-none">
            <br><br><br><br><br><br><br>
        </div>

    </div>

    <div class="col-sm-9" style="margin-left:0px;">
        <br>
        <h2>Sign In to My Account</h2>
        <br><br><br>
        <div class="row">
            <div class="col-sm-3">
                <br>
                <form action="#" id="login" method="POST">
                    <div class="form-group">
                        <div>
                            <label for="user">Student ID:</label>
                            <input type="number" class="form-control" id="user" name="user" placeholder="Enter your Sheridan ID" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="pass">Password:</label>
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter your password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="background-color:black">Submit</button>

                    &nbsp;

                </form>

            </div>
            <div class="col-sm-3">
                <br>
                <style>
                    /* horizontal line */
                    .vl {
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%);
                        border: 2px solid #ddd;
                        height: 205px;
                    }

                    /* text inside the vertical line */
                    .vl-innertext {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: white;
                        padding: 8px 10px;
                    }

                    /* vertical line */
                    .v2 {
                        width: 1px;
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%);
                        border: 2px solid #ddd;
                        height: 260px;
                    }

                    /* text inside the vertical line */
                    .v2-innertext {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: white;
                        padding: 8px 10px;
                    }

                    .btn {
                        padding: 12px;
                        border: none;
                        border-radius: 4px;
                        margin: 5px 0;
                        opacity: 0.85;
                        display: inline-block;
                        font-size: 17px;
                        line-height: 20px;
                        text-decoration: none; /* remove underline from anchors */
                    }
                </style>
                <div class="vl .hidden-md-down">
                    <span class="vl-innertext">OR</span>
                </div>
            </div>
            <div class="col-sm-6">
                <br><br><br><br>
                <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=@AppConfig.Get("Linkedin.ClientID")&redirect_uri=@AppConfig.Get("Linkedin.RedirectUrl")&state=987654321&scope=r_emailaddress%20r_basicprofile">

                    <img src="~/images/Linkedin_signup.png" style="width:215px;height:41px" />
                </a>
            </div>
        </div>


    </div>
</div>

